[project]
	description = SGListView is a memory minded implementation of React Native's ListView
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abhishek4794
[access "refs/for/refs/*"]
	read = group user/abhishek4794
	push = group user/abhishek4794
	label-Code-Review = -2..+2 group user/abhishek4794
	label-Verified = -1..+1 group user/abhishek4794
	rebase = group user/abhishek4794
	removeReviewer = group user/abhishek4794
	submit = group user/abhishek4794
[access "refs/heads/*"]
	read = group user/abhishek4794
	create = group user/abhishek4794
	push = +force group user/abhishek4794
	pushMerge = group user/abhishek4794
[access "refs/tags/*"]
	push = group user/abhishek4794
	push = +force group user/abhishek4794
